
.search{

        font-size: 13px;
        font-weight: bold;
        padding-left: 1rem;
        padding-right: 1rem;
        height: 2rem;
        width: 78rem;
        overflow-wrap: break-word;
        border: 0.5px solid gray;
        border-radius: 50px;
        word-wrap: break-word;
        background-color: transparent;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        text-align: 10pt;
        

}